# Node.js / Svelte
/frontend/node_modules
/frontend/build
/frontend/.svelte-kit
/frontend/.vite

# Python
/api/__pycache__
/api/*.pyc
/api/venv
/api/.venv

# Archivos temporales o de sistema operativo
.DS_Store
*.log
salida.txt # Tu archivo temporal de logs

# Archivos de IDE (opcional, ejemplos)
.vscode/
.idea/
